<ion-header>
  <ion-toolbar>
    <ion-title>Login de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup] = "ionicForm" (ngSubmit) = "submitForm()" novalidate>
  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input type="email" required name="email" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" required name="password" formControlName = "password"></ion-input>
  </ion-item>
  <ion-button type="submit" expand="block">Iniciar Sesión</ion-button>


</form>

<ion-button (click)="logWithGoogle()">
    <ion-icon name="logo-google"></ion-icon>
</ion-button>


</ion-content>
