<ion-header>
  <ion-toolbar>
    <ion-title>youtube</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video</ion-title>
    </ion-toolbar>
  </ion-header>

  
  <app-explore-container name="youtube"></app-explore-container>
  <ion-button color="secondary"(click)="play()">Play</ion-button>

</ion-content>
